.black{//videoの上のシート
  position: absolute;
  z-index: 70;
  width: 100%;
  height: 100%;
  background-color: rgb(22, 22, 22);
  opacity: 0.6;
}

#wrapper{
  position: absolute;
  z-index: 200;
  width:100%;
  height:auto;
}


#effect{
  position: absolute;
  z-index: 200;
  width:100%;
}

#curtain1{
  position:absolute;
  z-index: 200;
  top:0px;
  left:0px;
  width: 50%;

}


#curtain2{
  position:absolute;
  z-index: 200;
  top:0px;
  right:0;
  width: 50%;
}


#curtain_buttons{
  display: block;
  width: 100%;
  margin-top: 25px;
}

#curtain_buttons input[type="button"]{
  width:100px;
  height:25px;
  border-radius:2px;
  color:white;
  background-color: rgb(255, 201, 210);
  border:none;
  border-bottom:6px rgb(255, 201, 210);
}
